{% extends "layout.html" %}

{% block heading %}
    Networking Blog
{% endblock %}

{% block jumbo %}
    <p class="lead">Checkout the tabs for a collection of networking tools and Linux utilities!</p>
    <hr class="my-4">
    <h3>Shortcuts</h3>
    <p>
        arp |
        arping |
        awk |
        cat |
        curl |
        dig |
        ethtool |
        grep |
        host |
        htop |
        httpie |
        ifconfig |
        iperf |
        iptables |
        lsof |
        mtr |
        netcat |
        netem |
        netstat |
        nmap |
        nslookup |
        ping |
        ps |
        route |
        scapy |
        scp |
        sed |
        ss |
        ssh |
        ssldump |
        tail |
        tc |
        tcpdump |
        telnet |
        tmux |
        traceroute |
        tshark |
        watch |
        wifite |
        wget |
        whois
    </p>
{% endblock %}

{% block body %}
    <p>This is a paragraph. Write some blog posts here!</p>
{% endblock %}