{% extends "layout.html" %}

{% block heading %}
    Networking Blog
{% endblock %}

{% block jumbo %}
    <p class="lead">A collection of all things networking and use cases.<br>
        Checkout the tabs above or the shortcuts below for a collection of
        tools and Linux utilities!</p>
    <hr class="my-4">
    <h3>Shortcuts</h3>
    <table style="width:50%">
        <tr>
            <td><a href=./routing#arp>arp</td>
            <td>arping</td>
            <td><a href=./linux#awk>awk</a></td>
            <td><a href=./linux#cat>cat</a></td>
            <td>curl</td>
            <td><a href=./dns#dig>dig</a></td>
        </tr>
        <tr>
            <td>ethtool</td>
            <td>grep</td>
            <td><a href=./dns#host>host</a></td>
            <td>htop</td>
            <td>httpie</td>
            <td>ifconfig</td>
        </tr>
        <tr>
            <td><a href=./connectivity#iperf>iperf</a></td>
            <td>iptables</td>
            <td>lsof</td>
            <td><a href=./connectivity#mtr>mtr</a></td>
            <td>netcat</td>
            <td>netem</td>
        </tr>
        <tr>
            <td><a href=./connectivity#netstat>netstat</a></td>
            <td><a href=./connectivity#nmap>nmap</a></td>
            <td>nslookup</td>
            <td><a href=./connectivity#ping>ping</a></td>
            <td>ps</td>
            <td><a href=./connectivity#route>route</a></td>
        </tr>
        <tr>
            <td>scapy</td>
            <td>scp</td>
            <td><a href=./linux#sed>sed</a></td>
            <td>ss</td>
            <td>ssh</td>
            <td>ssldump</td>
        </tr>
        <tr>
            <td><a href=./linux#tail>tail</a></td>
            <td>tc</td>
            <td><a href=./connectivity#tcpdump>tcpdump</a></td>
            <td>telnet</td>
            <td>tmux</td>
            <td><a href=./connectivity#traceroute>traceroute</a></td>
        </tr>
        <tr>
            <td><a href=./connectivity#tshark>tshark</a></td>
            <td><a href=./linux#watch>watch</a></td>
            <td>wifite</td>
            <td>wget</td>
            <td><a href=./dns#whois>whois</a></td>
            <td></td>
        </tr>
    </table>
{% endblock %}

{% block body %}
    <p>TODO: First blog post!</p>
{% endblock %}