{% extends "layout.html" %}

{% block heading %}
    Linux Utilities
{% endblock %}

{% block jumbo %}
    <p class="lead">Tools that make our lives easier</p>
    <hr class="my-4">
    <table style="width:50%">
        <tr>
            <td><a href=#awk>awk</a></td>
            <td><a href=#cat>cat</a></td>
            <td><a href=#sed>sed</a></td>
            <td><a href=#tail>tail</a></td>
        </tr>
        <tr>
            <td><a href=#watch>watch</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
{% endblock %}

{% block body %}
<div id="linux-utilities" class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Linux Utilities</h3>
      <!-- Cat -->
      <h4 id="cat">Cat</h4>
      <p>Concatenate files and print on the standard output</p>
      <figure class=highlight>
          <pre>
              <code class=language-bash data-lang=bash>
                $ echo "Hello, world!" > filename.txt
                $ cat filename.txt
                Hello, world!
              </code>
          </pre>
      </figure>
      <!-- Tail -->
      <h4 id="tail">Tail</h4>
      <p>Output the last part of files</p>
      <figure class=highlight>
          <pre>
              <code class=language-bash data-lang=bash>
                $ tail -f fileName.txt
              </code>
          </pre>
      </figure>
      <!-- Awk -->
      <h4 id="awk">Awk</h4>
      <p>Pattern scanning and processing language</p>
      <figure class=highlight>
          <pre>
              <code class=language-bash data-lang=bash>
                $ awk '{ sum += $6; n++ } END { if (n > 0) print sum / n; }'
              </code>
          </pre>
      </figure>
      <!-- Sed -->
      <h4 id="sed">Sed</h4>
      <p>Stream editor for filtering and transforming text</p>
      <figure class=highlight>
          <pre>
              <code class=language-bash data-lang=bash>
                $ for file in *; do mv $file `echo $file | sed -e "s/n1/n2/"`; done
              </code>
          </pre>
      </figure>
	  <figure class=highlight>
          <pre>
              <code class=language-bash data-lang=bash>
                $ ifconfig eth0 | awk '/inet addr:/ { print $2 }' | sed 's/addr://'
                10.10.1.1
              </code>
          </pre>
      </figure>
      <p>Please refer to <a href="http://sed.sourceforge.net/sed1line.txt">this url</a> for a collection of 1-liner Sed commands.</p>
      <!-- Watch -->
      <h4 id="watch">Watch</h4>
      <p>Execute a program periodically, showing output fullscreen</p>
      <figure class=highlight>
          <pre>
              <code class=language-bash data-lang=bash>
                $ watch "ls -lrt | tail -10"
              </code>
          </pre>
      </figure>
      </div>
  </div>
</div>
{% endblock %}