{% extends "layout.html" %}

{% block heading %}
    Routing Tools
{% endblock %}

{% block jumbo %}
    <p class="lead">Tools to explore network configuration</p>
    <hr class="my-4">
    <table style="width:50%">
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </table>
{% endblock %}

{% block body %}
    <p>TODO</p>
{% endblock %}